# --- Base de Datos (PostgreSQL en Fedora) ---
DB_USER=  # O el usuario que creaste
DB_PASS=tu_contraseña_segura
DB_HOST=localhost
DB_PORT=5432
DB_NAME=peru_budget_db

# --- Configuración de Archivos (Para la V2 con Polars) ---
# Ruta relativa desde la raíz del proyecto
RAW_DATA_PATH=data/raw/tu_archivo_del_mef.csv
SILVER_DATA_PATH=data/silver/