# Configuración de Base de Datos
DB_USER=your_user_here
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432
DB_NAME=your_db_name_here

# Configuración de Archivos
# Nombre del archivo CSV que debe estar en data/raw/
CSV_NAME=nombre_de_tu_archivo.csv